# Python
venv/
.venv/
__pycache__/
*.pyc

# Models
models/
*.pt
*.pth
*.bin

# VS Code
.vscode/

# Environment
config/config.json
config/resume.pdf
config/sessions/
.env

# Cache
.cache/

# Logs
*.log